# Análisis de Datos y Manipulación
#pandas==2.2.0
#numpy==1.26.0

# Visualización
#matplotlib==3.8.0
#seaborn==0.13.0

# Machine Learning y Modelado
#scikit-learn==1.4.0
#xgboost==2.0.0

# Jupyter (opcional, si usas notebooks)
#ipykernel